@{
    ViewData["Title"] = "Detail";
}
@model XtraBlog.UI.ViewModels.DetailViewModel
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="row tm-row">
    <div class="col-12">
        <form method="GET" class="form-inline tm-mb-80 tm-search-form">
            <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
            <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>
<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <!-- Video player 1422x800 -->
        <video width="954" height="535" controls class="tm-mb-40">
            <source src=@Model.Post.VideoURL type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">
                <h2 class="pt-2 tm-color-primary tm-post-title">@Model.Post.Title</h2>
                <p class="tm-mb-40">@Model.Post.CreatedDate.ToString("MMMM d, yyyy") posted by Admin @Model.Post.AdminId</p>
                <p>
                    @Model.Post.Description
                </p>
                <span class="d-block text-right tm-color-primary">Creative . Design . Business</span>
            </div>

            <!-- Comments -->
            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                @foreach (var com in Model.Comments) {
                    <div class="tm-comment tm-mb-45">
                        <figure class="tm-comment-figure">
                            <img src="~/img/comment-1.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                            <figcaption class="tm-color-primary text-center">@com.Name</figcaption>
                        </figure>
                        <div>
                            <p>
                                @com.Description
                            </p>
                            <div class="d-flex justify-content-between">
                                <a href="#" class="tm-color-primary">REPLY</a>
                                <span class="tm-color-primary">@com.CreatedDate.ToShortDateString()</span>
                            </div>
                        </div>
                    </div>
                }

                <form action="" class="mb-5 tm-comment-form">
                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                    <div class="mb-4">
                        <input class="form-control" name="name" type="text">
                    </div>
                    <div class="mb-4">
                        <input class="form-control" name="email" type="text">
                    </div>
                    <div class="mb-4">
                        <textarea class="form-control" name="message" rows="6"></textarea>
                    </div>
                    <div class="text-right">
                        <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <aside class="col-lg-4 tm-aside-col">
        <div class="tm-post-sidebar">
            <hr class="mb-3 tm-hr-primary">
            <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
            <ul class="tm-mb-75 pl-5 tm-category-list">
                @foreach (var cat in Model.Categories)
                {
                    <li><a href="#" class="tm-color-primary">@cat.Name</a></li>
                }

            </ul>
            <hr class="mb-3 tm-hr-primary">
            <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
            <a href="#" class="d-block tm-mb-40">
                <figure>
                    <img src="~/img/img-02.jpg" alt="Image" class="mb-3 img-fluid">
                    <figcaption class="tm-color-primary">Duis mollis diam nec ex viverra scelerisque a sit</figcaption>
                </figure>
            </a>
            <a href="#" class="d-block tm-mb-40">
                <figure>
                    <img src="~/img/img-05.jpg" alt="Image" class="mb-3 img-fluid">
                    <figcaption class="tm-color-primary">Integer quis lectus eget justo ullamcorper ullamcorper</figcaption>
                </figure>
            </a>
            <a href="#" class="d-block tm-mb-40">
                <figure>
                    <img src="~/img/img-06.jpg" alt="Image" class="mb-3 img-fluid">
                    <figcaption class="tm-color-primary">Nam lobortis nunc sed faucibus commodo</figcaption>
                </figure>
            </a>
        </div>
    </aside>
</div>